
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

#header {
    background: #1F1D2B;
    padding: 30px 0  0  0;

}

.header {
    display: flex;
    margin: 0 30px 0 30px;
    /*justify-content: space-between;*/
}

.header h1 {
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}

.header-input-icon {
    position: relative;
}

.header-input {
    width: 625px;
    height: 40px;
    border-radius: 10px;
    border: none;
    opacity: 0.1;
    padding-left: 10px;
    margin-left: 180px;
}

.header-icon {
    position: absolute;
    right: 20px;
    top: 10px;
}

.header-right {
    display: flex;
    align-items: center;
    margin-left: 390px;
}

.header-right select {
    padding: 0 10px;
   background: none;
    border: none;
    color: white;
    outline: none;

}

#discover {
    background: #1F1D2B;
    height: 100%;
    padding: 0 30px 0 30px;
}

.discover {
    display: flex;
    padding: 20px 0 0 0;
}

.discover-menu {
    width: 20%;
}

.menu-top h5 {
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 9px;
    line-height: 11px;
    letter-spacing: 1.5px;
    color: #808191
}

.menu-top-home {
    display: flex;
    padding: 25px 0 30px 0;
}

.menu-top-orange {
    width: 30px;
    height: 30px;
    border-radius: 40%;
    background: #FF7551;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-top-home p {
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    padding: 8px 0 0 10px;
}

.menu-top-home-icon {
    color: white;
}

.menu-top-icons {
    display: flex;
}

.menu-top-icon {
    width: 30px;
    height: 30px;
    border-radius: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(58, 59, 66, 0.71);
}

.menu-top-icons p {
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 0.3px;
    color: #808191;
    padding: 10px 0 30px 10px;
}

.menu-line-top {
    border: 1px solid #34373C;
    width: 50%;
}

.menu-bottom h5 {
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 11px;
    letter-spacing: 1.5px;
    color: #808191;
    padding: 48px 0 24px 0;
}


.menu-bottom-icons {
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 30%;
    padding: 0 0px 32px 0;
}

.menu-bottom-icon {
    width: 30px;
    height: 30px;
    background: rgba(58, 59, 66, 0.71);
    display: flex;align-items: center;
    justify-content: center;
    border-radius: 30%;
}

.menu-bottom-icons p {
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 0.3px;
    color: #808191;
    padding: 0 0 0 10px;
}

.menu-bottom-line {
    width: 50%;
    border: 1px solid #34373C;
}

.menu-input-block {
    position: relative;
    display: flex;
    margin: 50px 0 0 0;
}
.menu-input {
    width: 50px;
    height: 30px;
    background: #6C5ECF;
    border-radius: 15px;
    border: none;
}

.menu-circle {
    position: absolute;
    top: 0px;
    left: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
}

.menu-input-block p {
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.3px;
    color: #808191;
    padding: 10px 0 0 10px;
}


.discover-blocks {
    width: 80%;
}

.discover-top-block {
    display: flex;
    justify-content: space-between;
    padding: 14px 0 50px 0;
}

.discover-blocks h1 {
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    color: #FFFFFF;
}

.discover-how {
    position: relative;
}

.discover-how h1 {
    position: absolute;
    top: 40px;
    left: 30px;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
}

.tomas-blocks {
    position: absolute;
    display: flex;
    top: 220px;
    left: 30px;
}

.tomas-circle {
    width: 60px;
    height: 60px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.birdie-block {
    position: absolute;
    width: 18px;
    height: 18px;
    background: white;
    border: 2px solid #0DAABC;
    border-radius: 50%;
    top: 45px;
    left: 41px;
}

.birdie {
    color:#0DAABC ;
}



.tomas-text {
    margin: 10px 0 0 10px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

.discover-top-right {
    position: relative;
}

.discover-top-right h1 {
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    position: absolute;
    top: 30px;
    left: 30px;
}

.discover-top-right p {

    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    position: absolute;
    top: 160px;
    left: 30px;
}

.discover-top-right a {
    position: absolute;
    top: 180px;
    left: 30px;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

.tony-block {
    position: absolute;
    top: 230px;
    left: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    border: 2px solid white;
}

.right-circle {
    width: 20px;
    height: 20px;
    background-color:white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
 color: #D9A45A;
    top: 270px;
    left: 85px;
}


.discover-bottom-blocks {
    margin: 0 0 80px 0;
    display: flex;
    justify-content: space-between;
}

.discover-bottom-block {
    width: 259px;
    height: 300px;
    border-radius: 20px;
    background: #242730;
    margin-top: 30px;
    position: relative;
}

.bottom-img {
border-top-left-radius: 20px;
border-top-right-radius: 20px;
}

.bottom-icon-block-one {
    width: 60px;
    height: 60px;
    border: 2px solid white;
    position: absolute;
    border-radius: 50%;
    top: 125px;
    left: 180px;
}

.bottom-circle-one {
    width: 15px;
    height: 15px;
    background: #08A0F7;
    color: white;
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 170px;
    left: 220px;
}
.bottom-icon-block {
    position: absolute;
    top: 130px;
    left: 185px;
}

.bottom-icon {
    position: absolute;
    top:3px;
    left: 3px;
}
.bottom-h1 {
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 28px;
    color: #FFFFFF;
}



.bottom-text {
    padding: 20px 0 0 20px;
}

.bottom-green-block {
    display: flex;
}


.bottom-green-block a {
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 0.5px;
    color: #B7B9D2;
    padding: 0 10px 0 0;
}
.bottom-green {
    width: 7px;
    height: 7px;
    background: #22B07D;
    border-radius: 50%;
}

.bottom-orange {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #FF7551;
}

.bottom-text h6 {
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    padding: 12px 0 12px 0;
}

.bottom-text p {
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.5px;
    color: #808191;
}

.swiper {
    width: 100%;
    height: 400px;
}
